Node Red - Auto Maturita.txt
[{"id":"d64f1188.c5038","type":"tab","label":"Home :D","disabled":false,"info":""},{"id":"5fce8c79.3b5a24","type":"tab","label":"Status  ","disabled":false,"info":""},{"id":"ada97b36.94e5a8","type":"tab","label":"PoËasie ","disabled":false,"info":""},{"id":"b103b357.ba1fb","type":"tab","label":"Telegram bot","disabled":false,"info":""},{"id":"345d6578.d42b9a","type":"tab","label":"Email :)","disabled":false,"info":""},{"id":"af020618.d7a1a8","type":"tab","label":"Nastavovanie","disabled":false,"info":""},{"id":"6d2e8b11.8fa344","type":"serial-port","z":"","serialport":"/dev/ttyACM1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\r\\n","bin":"false","out":"char","addchar":"true","responsetimeout":""},{"id":"ebc2fb6e.80aab8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Jokkie Smart Car","hideToolbar":"false","allowSwipe":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7b9cfa16.a52954","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"22","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2d5fc72d.afe188","type":"ui_group","z":"","name":"DHT 11 ","tab":"d9e7f333.ce897","order":1,"disp":true,"width":"6","collapse":false},{"id":"5528cdb2.3e8284","type":"ui_group","z":"","name":"Memory","tab":"","order":2,"disp":true,"width":"6"},{"id":"a42e031a.d389d","type":"ui_group","z":"","name":"Arduino","tab":"","order":4,"disp":true,"width":"6"},{"id":"c7694f11.5fd1d","type":"ui_group","z":"","name":"TwitterPosts","tab":"","order":5,"disp":true,"width":"6"},{"id":"2fe7fa14.165c66","type":"ui_group","z":"","name":"Weather","tab":"","order":3,"disp":true,"width":"6"},{"id":"c8625eca.a9ada","type":"ui_group","z":"","name":"Sarahah-Notification","tab":"","order":6,"disp":true,"width":"6"},{"id":"758f9c46.78b1b4","type":"ui_group","z":"","name":"Tweets","tab":"","order":7,"disp":true,"width":"6"},{"id":"a241586c.35f908","type":"ui_group","z":"","name":"Memory","tab":"","order":2,"disp":true,"width":"6"},{"id":"279d3d42.c81e32","type":"ui_group","z":"","name":"Arduino","tab":"","order":3,"disp":true,"width":"6"},{"id":"6ebabcd1.1b0224","type":"ui_group","z":"","name":"TwitterPosts","tab":"","order":4,"disp":true,"width":"6"},{"id":"df32d8ee.e27368","type":"ui_group","z":"","name":"Weather","tab":"","order":5,"disp":true,"width":"6"},{"id":"eb6fbaf5.cb6f28","type":"ui_group","z":"","name":"Sarahah-Notification","tab":"","order":6,"disp":true,"width":"6"},{"id":"eb449470.992968","type":"ui_group","z":"","name":"Tweets","tab":"","order":7,"disp":true,"width":"6"},{"id":"be34a0d1.01798","type":"ui_group","z":"","name":"Nastavenie ","tab":"3cc66cf2.eeec04","order":1,"disp":true,"width":"6","collapse":false},{"id":"37b36563.14bfaa","type":"ui_group","z":"","name":"Memory","tab":"","order":2,"disp":true,"width":"6"},{"id":"c78c3c62.42aad","type":"ui_group","z":"","name":"Arduino","tab":"","order":3,"disp":true,"width":"6"},{"id":"dd2b6a90.d498e8","type":"ui_group","z":"","name":"TwitterPosts","tab":"","order":4,"disp":true,"width":"6"},{"id":"ba3acf90.8dff9","type":"ui_group","z":"","name":"Weather","tab":"","order":5,"disp":true,"width":"6"},{"id":"e71383d2.52734","type":"ui_group","z":"","name":"Sarahah-Notification","tab":"","order":6,"disp":true,"width":"6"},{"id":"5a7af3dd.906fec","type":"ui_group","z":"","name":"Tweets","tab":"","order":7,"disp":true,"width":"6"},{"id":"62fcb4e7.e17e4c","type":"twitter-credentials","z":"","screen_name":"hyr45348"},{"id":"833bd6d2.dfa778","type":"websocket-listener","z":"","path":"","wholemsg":"false"},{"id":"705a28fe.eed2c8","type":"websocket-listener","z":"d64f1188.c5038","path":"/ws/simple","wholemsg":"false"},{"id":"a09bdd1.94f1f2","type":"ui_group","z":"","name":"Sysinfo","tab":"","order":1,"disp":true,"width":"6"},{"id":"ba621cee.f1747","type":"ui_group","z":"","name":"Memory","tab":"","order":2,"disp":true,"width":"6"},{"id":"7c4aeb54.05d724","type":"ui_group","z":"","name":"Arduino","tab":"","order":3,"disp":true,"width":"6"},{"id":"252e6d19.42ab12","type":"ui_group","z":"","name":"TwitterPosts","tab":"","order":4,"disp":true,"width":"6"},{"id":"fdb97aa1.bcf068","type":"ui_group","z":"","name":"Weather","tab":"","order":5,"disp":true,"width":"6"},{"id":"dfbcebf2.812878","type":"ui_group","z":"","name":"Sarahah-Notification","tab":"","order":6,"disp":true,"width":"6"},{"id":"af6ea1e.184046","type":"ui_group","z":"","name":"Tweets","tab":"","order":7,"disp":true,"width":"6"},{"id":"28eda21e.9dcaee","type":"remote-xy-dashboard","z":"","name":"","port":"6377","config":"/* \n   -- New project -- \n    \n   This source code of graphical user interface  \n   has been generated automatically by RemoteXY editor. \n   To compile this code using RemoteXY library 2.3.3 or later version  \n   download by link http://remotexy.com/en/library/ \n   To connect using RemoteXY mobile app by link http://remotexy.com/en/download/                    \n     - for ANDROID 4.1.1 or later version; \n     - for iOS 1.2.1 or later version; \n     \n   This source code is free software; you can redistribute it and/or \n   modify it under the terms of the GNU Lesser General Public \n   License as published by the Free Software Foundation; either \n   version 2.1 of the License, or (at your option) any later version.     \n*/ \n\n////////////////////////////////////////////// \n//        RemoteXY include library          // \n////////////////////////////////////////////// \n\n// RemoteXY select connection mode and include library  \n#define REMOTEXY_MODE__SOFTSERIAL\n#include <SoftwareSerial.h> \n\n#include <RemoteXY.h> \n\n// RemoteXY connection settings  \n#define REMOTEXY_SERIAL_RX 2 \n#define REMOTEXY_SERIAL_TX 3 \n#define REMOTEXY_SERIAL_SPEED 9600 \n\n\n// RemoteXY configurate   \n#pragma pack(push, 1) \nuint8_t RemoteXY_CONF[] = \n  { 255,2,0,2,0,28,0,8,13,0,\n  5,32,5,27,34,34,2,26,31,66,\n  130,8,2,27,21,2,26,66,130,42,\n  2,27,21,2,26 }; \n   \n// this structure defines all the variables of your control interface  \nstruct { \n\n    // input variable\n  int8_t joystick_1_x; // =-100..100 x-coordinate joystick position \n  int8_t joystick_1_y; // =-100..100 y-coordinate joystick position \n\n    // output variable\n  int8_t level_1; // =0..100 level position \n  int8_t level_2; // =0..100 level position \n\n    // other variable\n  uint8_t connect_flag;  // =1 if wire connected, else =0 \n\n} RemoteXY; \n#pragma pack(pop) \n\n///////////////////////////////////////////// \n//           END RemoteXY include          // \n///////////////////////////////////////////// \n\n\n\nvoid setup()  \n{ \n  RemoteXY_Init ();  \n   \n   \n  // TODO you setup code \n   \n} \n\nvoid loop()  \n{  \n  RemoteXY_Handler (); \n   \n   \n  // TODO you loop code \n  // use the RemoteXY structure for data transfer \n\n\n}"},{"id":"26034008.2ac8d","type":"ui_tab","z":"","name":"Ovladanie","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"e349d427.a29228","type":"ui_group","z":"","name":"Stred","tab":"26034008.2ac8d","order":2,"disp":true,"width":"2","collapse":false},{"id":"d9e7f333.ce897","type":"ui_tab","z":"","name":"PoËasie ","icon":"dashboard","disabled":false,"hidden":false},{"id":"cfda5865.098038","type":"ui_group","z":"","name":"RPI 3 B ","tab":"7a7d1a9.174ebe4","order":2,"disp":true,"width":"6","collapse":false},{"id":"101a9f98.a8bc3","type":"arduino-board","z":0,"device":"/dev/ttyACM0"},{"id":"71c73db8.89b3c4","type":"chatbot-facebook-node","z":"","botname":"Facebook","usernames":"","store":"","log":"","debug":false,"profileFields":"first_name,last_name"},{"id":"b5f77d88.38ba","type":"chatbot-telegram-node","z":"","botname":"Jokkie_bot","usernames":"Daskama","providerToken":"792118854:AAEgFSOfVuJgH27RpmAyXoOkuPOoMDWzg98","polling":"1000","store":"","log":"","parseMode":"HTML","debug":false},{"id":"c6595862.a329f8","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"1f66988b.dfd7e7","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6"},{"id":"ff7ca16f.e2409","type":"ui_group","z":"","name":"test","tab":"","order":3,"disp":true,"width":"7","collapse":true},{"id":"f261d7a5.015a38","type":"ui_group","z":"","name":"Lavo","tab":"26034008.2ac8d","order":1,"disp":true,"width":"2","collapse":false},{"id":"4e08d0b.ce4253","type":"ui_group","z":"","name":"Pravo","tab":"26034008.2ac8d","order":3,"disp":true,"width":"2","collapse":false},{"id":"397a4803.509c48","type":"ui_group","z":"","name":"Ultrasonicky Predu","tab":"26034008.2ac8d","order":4,"disp":true,"width":"5","collapse":true},{"id":"3cc66cf2.eeec04","type":"ui_tab","z":"","name":"Nastavenie ","icon":"dashboard","disabled":false,"hidden":false},{"id":"7a7d1a9.174ebe4","type":"ui_tab","z":"","name":"Sys info ","icon":"dashboard","disabled":false,"hidden":false},{"id":"93b869e5.ef0e58","type":"ui_group","z":"","name":"Wifi Scan ","tab":"7a7d1a9.174ebe4","order":3,"disp":true,"width":"7","collapse":false},{"id":"39abbb48.b496b4","type":"ui_group","z":"","name":"Info internet","tab":"7a7d1a9.174ebe4","order":1,"disp":true,"width":"6","collapse":false},{"id":"234d1955.c04476","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"Jokkie","tz":""},{"id":"586ce489.820a0c","type":"ui_group","z":"","name":"D·tum","tab":"d9e7f333.ce897","order":2,"disp":true,"width":"3","collapse":false},{"id":"c9e024a8.5d24a8","type":"ui_group","z":"","name":"Teplota","tab":"d9e7f333.ce897","order":3,"disp":true,"width":"3","collapse":false},{"id":"35ef1f72.6a5e1","type":"ui_group","z":"","name":"Tep Min","tab":"d9e7f333.ce897","order":4,"disp":true,"width":"3","collapse":false},{"id":"faaba3b3.7bdfa","type":"ui_group","z":"","name":"Tep max","tab":"d9e7f333.ce897","order":5,"disp":true,"width":"2","collapse":false},{"id":"b37e9af4.2b5ca8","type":"ui_spacer","name":"spacer","group":"faaba3b3.7bdfa","order":5,"width":1,"height":1},{"id":"76a651de.beae7","type":"ui_group","z":"","name":"Insert Data Test","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"45461cc3.85a754","type":"ui_group","z":"","name":"Frame Grab","tab":"","order":1,"disp":true,"width":"6"},{"id":"3781a8bc.a1ad98","type":"ui_group","z":"","name":"Frame Statistics","tab":"","order":2,"disp":true,"width":"6"},{"id":"19d71cd7.074c63","type":"ui_group","z":"","name":"Video Capture","tab":"","order":3,"disp":true,"width":"6"},{"id":"680ad68d.50e0b8","type":"ui_group","z":"","name":"Video Statistics","tab":"","order":4,"disp":true,"width":"6"},{"id":"84da67ea.8a5018","type":"ui_group","z":"","name":"Report","tab":"","order":5,"disp":true,"width":"12"},{"id":"b0e59b8d.736878","type":"ui_link","z":"","name":"Webcam ","link":"http://192.168.43.132:8081/","icon":"open_in_browser","target":"iframe","order":5},{"id":"496f1a47.b2f214","type":"comment","z":"d64f1188.c5038","name":"Ovladanie","info":"","x":320,"y":40,"wires":[]},{"id":"ab6729.a9aae8d8","type":"comment","z":"ada97b36.94e5a8","name":"Teplota","info":"","x":350,"y":60,"wires":[]},{"id":"3d5e3026.f5bd","type":"ui_button","z":"d64f1188.c5038","name":"PRAVO","group":"4e08d0b.ce4253","order":1,"width":"2","height":"2","passthru":true,"label":"","color":"","bgcolor":"#4ca64c","icon":"fa-5x fa-chevron-right","payload":"D","payloadType":"str","topic":"PRAVO","x":260,"y":1520,"wires":[["e434c758.eafcf8","c40cdffb.7eed6","82747373.f3aa2","e5597abc.3f0ae8"]]},{"id":"cc9e3859.072938","type":"ui_button","z":"d64f1188.c5038","name":"LAVO","group":"f261d7a5.015a38","order":1,"width":"2","height":"2","passthru":true,"label":"","tooltip":"","color":"","bgcolor":"#4ca64c","icon":"fa-5x fa-chevron-left","payload":"A","payloadType":"str","topic":"LAVO","x":290,"y":620,"wires":[["963e7b6e.0b4b48","406fffa2.aaf7","4036d981.a71298","6cde6cc8.016cc4"]]},{"id":"d373bc6e.525c6","type":"ui_button","z":"d64f1188.c5038","name":"DOZADU","group":"e349d427.a29228","order":3,"width":"2","height":"2","passthru":true,"label":"","tooltip":"","color":"","bgcolor":"#4ca64c","icon":"fa-5x fa-chevron-down","payload":"S","payloadType":"str","topic":"DOZADU","x":280,"y":1000,"wires":[["cd346715.a38a58","1257b1c3.ab739e"]]},{"id":"f2f9085e.c64ee8","type":"ui_button","z":"d64f1188.c5038","name":"DOPREDU","group":"e349d427.a29228","order":1,"width":"2","height":"2","passthru":true,"label":"","tooltip":"","color":"{{msg.color}}","bgcolor":"#4ca64c","icon":"fa-5x fa-chevron-up","payload":"W","payloadType":"str","topic":"DOPREDU","x":290,"y":100,"wires":[["4cd55293.652cdc","34a22b2d.7c67c4"]]},{"id":"ebeec039.9960c","type":"ui_chart","z":"ada97b36.94e5a8","name":"","group":"2d5fc72d.afe188","order":1,"width":"6","height":"5","label":"Teplota","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":800,"y":220,"wires":[[],[]]},{"id":"5036bdc2.b69804","type":"ui_text","z":"ada97b36.94e5a8","group":"2d5fc72d.afe188","order":2,"width":0,"height":0,"name":"","label":"Priemern· teplota:","format":"{{msg.payload}}","layout":"row-center","x":1130,"y":380,"wires":[]},{"id":"fccce400.beb498","type":"function","z":"ada97b36.94e5a8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":380,"wires":[["5036bdc2.b69804"]]},{"id":"8d03c4cb.d5fa68","type":"average","z":"ada97b36.94e5a8","name":"Priemer DHT11","topic":"","x":720,"y":380,"wires":[["fccce400.beb498"]]},{"id":"fe73c893.6eae78","type":"inject","z":"5fce8c79.3b5a24","name":"update","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":true,"onceDelay":"","x":200,"y":200,"wires":[["248733c6.10c94c","1a0124d3.c5c6fb","3b62c009.652cc"]]},{"id":"33fdeed9.4e93f2","type":"function","z":"5fce8c79.3b5a24","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":200,"wires":[["8dc12e69.da62f"]]},{"id":"8dc12e69.da62f","type":"ui_gauge","z":"5fce8c79.3b5a24","name":"Memory Usage","group":"cfda5865.098038","order":1,"width":"0","height":"0","gtype":"gage","title":"1 Minute","label":"Usage","format":"{{value | number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":200,"wires":[]},{"id":"6a3fd39e.1c23fc","type":"function","z":"5fce8c79.3b5a24","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1024; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.totalmem);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":260,"wires":[["d1b3f864.66d988"]]},{"id":"1036276e.b76ee9","type":"function","z":"5fce8c79.3b5a24","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1024; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.freemem);\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":320,"wires":[["42482b0d.46b234"]]},{"id":"d1b3f864.66d988","type":"ui_text","z":"5fce8c79.3b5a24","group":"cfda5865.098038","order":2,"width":"0","height":"0","name":"","label":"Total Memory","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":280,"wires":[]},{"id":"42482b0d.46b234","type":"ui_text","z":"5fce8c79.3b5a24","group":"cfda5865.098038","order":3,"width":"0","height":"0","name":"","label":"Free Memory","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":340,"wires":[]},{"id":"b9a67b16.859f88","type":"function","z":"5fce8c79.3b5a24","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":120,"wires":[["bea95317.cbfda"]]},{"id":"bea95317.cbfda","type":"ui_chart","z":"5fce8c79.3b5a24","name":"Memory - 24 Hours","group":"cfda5865.098038","order":4,"width":"0","height":"0","label":"24 Hours","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":2,"x":770,"y":120,"wires":[[],[]]},{"id":"248733c6.10c94c","type":"Memory","z":"5fce8c79.3b5a24","name":"Memory","x":438.0000114440918,"y":195.49999809265137,"wires":[["33fdeed9.4e93f2","6a3fd39e.1c23fc","1036276e.b76ee9","b9a67b16.859f88"]]},{"id":"d7dc511a.5a33a","type":"comment","z":"5fce8c79.3b5a24","name":"status","info":"Ide 24.6 \nDavta pozor na serial port ide na ACM1 usb prve a dole !!!","x":470,"y":80,"wires":[]},{"id":"1a0124d3.c5c6fb","type":"cpu","z":"5fce8c79.3b5a24","name":"","msgCore":true,"msgOverall":false,"msgArray":false,"msgTemp":false,"x":510,"y":400,"wires":[["62fe3e44.06766"]]},{"id":"62fe3e44.06766","type":"ui_chart","z":"5fce8c79.3b5a24","name":"cpu  - 24 Hours","group":"cfda5865.098038","order":5,"width":"0","height":"0","label":"24 Hours Cpu","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":2,"x":880,"y":400,"wires":[[],[]]},{"id":"57b82f54.5f8b","type":"Uptime","z":"5fce8c79.3b5a24","name":"","x":460,"y":640,"wires":[["16254e06.1a5072"]]},{"id":"eaa8cf43.54ec9","type":"ui_text","z":"5fce8c79.3b5a24","group":"39abbb48.b496b4","order":4,"width":0,"height":0,"name":"","label":"Uptime (min) :","format":"{{msg.payload}}","layout":"row-left","x":840,"y":640,"wires":[]},{"id":"16254e06.1a5072","type":"function","z":"5fce8c79.3b5a24","name":"","func":"msg.payload = msg.payload.uptime/60\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":640,"wires":[["eaa8cf43.54ec9"]]},{"id":"9362235d.98b17","type":"inject","z":"5fce8c79.3b5a24","name":"update","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"","x":280,"y":640,"wires":[["57b82f54.5f8b"]]},{"id":"1ff944cc.e5f62b","type":"NetworkIntf","z":"5fce8c79.3b5a24","name":"","x":450,"y":840,"wires":[["1f82962d.7f45ea","f4573fd.1c803c","8a9f263.517f4d8"]]},{"id":"1f82962d.7f45ea","type":"function","z":"5fce8c79.3b5a24","name":"IPv4","func":"msg.payload = msg.payload.networkInterfaces.wlan0[0].address;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":800,"wires":[["d15b8e2e.c071f"]]},{"id":"f4573fd.1c803c","type":"function","z":"5fce8c79.3b5a24","name":"netmask","func":"msg.payload = msg.payload.networkInterfaces.wlan0[0].netmask;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":860,"wires":[["81117776.a3d998"]]},{"id":"8a9f263.517f4d8","type":"function","z":"5fce8c79.3b5a24","name":"mac","func":"msg.payload = msg.payload.networkInterfaces.wlan0[0].mac;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":920,"wires":[["c4d14ef2.b1414"]]},{"id":"d15b8e2e.c071f","type":"ui_text","z":"5fce8c79.3b5a24","group":"39abbb48.b496b4","order":1,"width":0,"height":0,"name":"","label":"IP:","format":"{{msg.payload}}","layout":"row-left","x":870,"y":800,"wires":[]},{"id":"81117776.a3d998","type":"ui_text","z":"5fce8c79.3b5a24","group":"39abbb48.b496b4","order":3,"width":0,"height":0,"name":"","label":"Netmask:","format":"{{msg.payload}}","layout":"row-left","x":880,"y":860,"wires":[]},{"id":"c4d14ef2.b1414","type":"ui_text","z":"5fce8c79.3b5a24","group":"39abbb48.b496b4","order":2,"width":0,"height":0,"name":"","label":"Mac","format":"{{msg.payload}}","layout":"row-left","x":870,"y":920,"wires":[]},{"id":"7c64110e.16bfb","type":"inject","z":"5fce8c79.3b5a24","name":"update","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":"","x":280,"y":840,"wires":[["1ff944cc.e5f62b"]]},{"id":"8391f7fc.2ee638","type":"chatbot-command","z":"b103b357.ba1fb","name":"","command":"teplota","x":560,"y":180,"wires":[["cd5157f1.30c5d8"]]},{"id":"53a46fcf.494d6","type":"chatbot-telegram-send","z":"b103b357.ba1fb","bot":"b5f77d88.38ba","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":1790,"y":420,"wires":[[]]},{"id":"2c35b7f8.d459c8","type":"chatbot-telegram-receive","z":"b103b357.ba1fb","bot":"b5f77d88.38ba","botProduction":"b5f77d88.38ba","x":170,"y":620,"wires":[["39af0720.d48628","5bbb2013.38ef1"]]},{"id":"39af0720.d48628","type":"debug","z":"b103b357.ba1fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":390,"y":800,"wires":[]},{"id":"78c2b636.347d78","type":"chatbot-message","z":"b103b357.ba1fb","name":"","message":[{"message":"Nieste Authorized "}],"answer":false,"silent":false,"x":950,"y":760,"wires":[["53a46fcf.494d6"]]},{"id":"ece66080.8351a","type":"function","z":"b103b357.ba1fb","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":160,"wires":[["39146dae.3692a2"]]},{"id":"5bbb2013.38ef1","type":"chatbot-authorized","z":"b103b357.ba1fb","x":390,"y":600,"wires":[["8391f7fc.2ee638","90adee26.23d2c","bc2b21d.77123e"],["78c2b636.347d78"]]},{"id":"39146dae.3692a2","type":"chatbot-message","z":"b103b357.ba1fb","name":"","message":[{"message":""}],"answer":false,"silent":false,"x":1310,"y":160,"wires":[["53a46fcf.494d6"]],"inputLabels":["msg.payload"]},{"id":"90adee26.23d2c","type":"chatbot-command","z":"b103b357.ba1fb","name":"","command":"ifconfig","x":700,"y":360,"wires":[["491edcac.747634"]]},{"id":"491edcac.747634","type":"NetworkIntf","z":"b103b357.ba1fb","name":"","x":890,"y":360,"wires":[["72b0d10b.011e","a2a33d32.77b77","3405efc8.f8d1b"]]},{"id":"72b0d10b.011e","type":"function","z":"b103b357.ba1fb","name":"IPv4","func":"msg.payload = msg.payload.networkInterfaces.wlan0[0].address;\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":280,"wires":[["cdacda98.725588"]]},{"id":"a2a33d32.77b77","type":"function","z":"b103b357.ba1fb","name":"netmask","func":"msg.payload = msg.payload.networkInterfaces.wlan0[0].netmask;\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":340,"wires":[["c741589b.b522f8"]]},{"id":"3405efc8.f8d1b","type":"function","z":"b103b357.ba1fb","name":"mac","func":"msg.payload = msg.payload.networkInterfaces.wlan0[0].mac;\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":400,"wires":[["28d3ce45.53be32"]]},{"id":"cdacda98.725588","type":"chatbot-message","z":"b103b357.ba1fb","name":"","message":[{"message":""}],"answer":true,"silent":false,"x":1270,"y":280,"wires":[["53a46fcf.494d6"]],"inputLabels":["msg.payload"]},{"id":"c741589b.b522f8","type":"chatbot-message","z":"b103b357.ba1fb","name":"","message":[{"message":""}],"answer":false,"silent":false,"x":1270,"y":340,"wires":[["53a46fcf.494d6"]],"inputLabels":["msg.payload"]},{"id":"28d3ce45.53be32","type":"chatbot-message","z":"b103b357.ba1fb","name":"","message":[{"message":""}],"answer":false,"silent":false,"x":1270,"y":400,"wires":[["53a46fcf.494d6"]],"inputLabels":["msg.payload"]},{"id":"562752ed.73924c","type":"inject","z":"ada97b36.94e5a8","name":"update","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"","x":280,"y":200,"wires":[["81e700c4.d579e"]]},{"id":"bc2b21d.77123e","type":"chatbot-command","z":"b103b357.ba1fb","name":"","command":"help","x":730,"y":480,"wires":[["49be77c.4b80088"]]},{"id":"49be77c.4b80088","type":"chatbot-message","z":"b103b357.ba1fb","name":"","message":[{"message":"PrÌkazy \n/teplota\n/ifconfig"}],"answer":false,"silent":false,"x":1030,"y":480,"wires":[["53a46fcf.494d6"]],"inputLabels":["msg.payload"]},{"id":"d7b6ce2b.f1cbe","type":"ui_button","z":"345d6578.d42b9a","name":"","group":"39abbb48.b496b4","order":0,"width":"6","height":"2","passthru":false,"label":"Poslaù info","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":200,"wires":[["de90c4e9.df8fe8","9c3d3e16.b876f"]]},{"id":"6fffb92.9f96348","type":"e-mail","z":"345d6578.d42b9a","server":"smtp.gmail.com","port":"465","secure":true,"name":"matomokry@centrum.sk","dname":"Jokkie","x":750,"y":200,"wires":[]},{"id":"de90c4e9.df8fe8","type":"NetworkIntf","z":"345d6578.d42b9a","name":"","x":470,"y":200,"wires":[["6fffb92.9f96348"]]},{"id":"9c3d3e16.b876f","type":"ui_toast","z":"345d6578.d42b9a","position":"bottom right","displayTime":"4","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Email bol ˙speöne psolati","name":"","x":420,"y":280,"wires":[]},{"id":"ea32a140.efec7","type":"rpi-srf","z":"d64f1188.c5038","name":"Ultra predu ","topic":"SRF","pulse":"0.5","pins":"40,38","x":260,"y":2040,"wires":[["3430bbac.a35404"]]},{"id":"3430bbac.a35404","type":"ui_gauge","z":"d64f1188.c5038","name":"","group":"397a4803.509c48","order":0,"width":"5","height":"4","gtype":"gage","title":"Predu","label":"cm","format":"{{value}}","min":0,"max":"100","colors":["#b50004","#e6e600","#02ff22"],"seg1":"","seg2":"","x":610,"y":2040,"wires":[]},{"id":"896d4f87.791c6","type":"rpi-srf","z":"d64f1188.c5038","name":"Ultra zadu ","topic":"SRF","pulse":"0.5","pins":"37,35","x":240,"y":2160,"wires":[["8fa114cd.1163a8"]]},{"id":"8fa114cd.1163a8","type":"ui_gauge","z":"d64f1188.c5038","name":"","group":"397a4803.509c48","order":0,"width":"5","height":"4","gtype":"gage","title":"Zadu","label":"cm","format":"{{value}}","min":0,"max":"100","colors":["#b50004","#e6e600","#02ff22"],"seg1":"","seg2":"","x":610,"y":2160,"wires":[]},{"id":"ea75fa10.fe53e8","type":"serial out","z":"af020618.d7a1a8","name":"","serial":"6d2e8b11.8fa344","x":1060,"y":160,"wires":[]},{"id":"c1775e6e.5b5f4","type":"ui_slider","z":"af020618.d7a1a8","name":"","label":"R˝chloù ","tooltip":"","group":"be34a0d1.01798","order":0,"width":"5","height":"2","passthru":true,"outs":"end","topic":"","min":0,"max":"200","step":1,"x":240,"y":300,"wires":[["92926bd8.71f568","125e52e3.4ca1ed"]]},{"id":"92926bd8.71f568","type":"function","z":"af020618.d7a1a8","name":"","func":"var msg1 = { payload: \"N\" };\nreturn [msg1];\n","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["125e52e3.4ca1ed"]]},{"id":"81e700c4.d579e","type":"rpi-dht22","z":"ada97b36.94e5a8","name":"","topic":"rpi-dht22","dht":"11","pintype":"2","pin":"23","x":480,"y":200,"wires":[["ebeec039.9960c","8d03c4cb.d5fa68"]]},{"id":"cd5157f1.30c5d8","type":"rpi-dht22","z":"b103b357.ba1fb","name":"","topic":"rpi-dht22","dht":"11","pintype":1,"pin":"23","x":820,"y":160,"wires":[["ece66080.8351a"]]},{"id":"ae13e22.d93202","type":"openweathermap in","z":"ada97b36.94e5a8","name":"","wtype":"forecast","lon":"19.0354586","lat":"49.1162075","city":"","country":"","language":"sk","x":140,"y":700,"wires":[["1b373942.90bfb7","27ed58a7.882c18","5442c460.48d15c","20f7aa0c.52ba36","88ead565.d78ca8"]]},{"id":"1b373942.90bfb7","type":"debug","z":"ada97b36.94e5a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":860,"wires":[]},{"id":"eb80c471.abc708","type":"wifiscan","z":"5fce8c79.3b5a24","name":"","x":430,"y":1080,"wires":[["2bdd9a8.93e3066","28fed3f4.f8009c","d5510280.94477","16bdb1c8.2b2e6e","ea86df7c.99a15","827b22ae.aff83"]]},{"id":"2bdd9a8.93e3066","type":"function","z":"5fce8c79.3b5a24","name":"IPv4","func":"msg.payload = msg.payload[0].ssid;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1060,"wires":[["fb18a6d.a3c2158"]]},{"id":"546c80cf.cac8","type":"ui_button","z":"5fce8c79.3b5a24","name":"","group":"93b869e5.ef0e58","order":7,"width":0,"height":0,"passthru":false,"label":"Scan","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":1080,"wires":[["eb80c471.abc708"]]},{"id":"fb18a6d.a3c2158","type":"ui_text","z":"5fce8c79.3b5a24","group":"93b869e5.ef0e58","order":1,"width":0,"height":0,"name":"","label":"ssid : ","format":"{{msg.payload}}","layout":"row-left","x":890,"y":1060,"wires":[]},{"id":"28fed3f4.f8009c","type":"function","z":"5fce8c79.3b5a24","name":"IPv4","func":"msg.payload = msg.payload[0].mac;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1120,"wires":[["42b8e86.2050e18"]]},{"id":"42b8e86.2050e18","type":"ui_text","z":"5fce8c79.3b5a24","group":"93b869e5.ef0e58","order":2,"width":0,"height":0,"name":"","label":"ssid mac  : ","format":"{{msg.payload}}","layout":"row-left","x":900,"y":1120,"wires":[]},{"id":"d5510280.94477","type":"function","z":"5fce8c79.3b5a24","name":"IPv4","func":"msg.payload = msg.payload[1].ssid;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1180,"wires":[["204c3fd5.2dc6a"]]},{"id":"204c3fd5.2dc6a","type":"ui_text","z":"5fce8c79.3b5a24","group":"93b869e5.ef0e58","order":3,"width":0,"height":0,"name":"","label":"ssid  2 : ","format":"{{msg.payload}}","layout":"row-left","x":900,"y":1180,"wires":[]},{"id":"16bdb1c8.2b2e6e","type":"function","z":"5fce8c79.3b5a24","name":"IPv4","func":"msg.payload = msg.payload[1].mac;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1240,"wires":[["e12547af.c88038"]]},{"id":"e12547af.c88038","type":"ui_text","z":"5fce8c79.3b5a24","group":"93b869e5.ef0e58","order":4,"width":0,"height":0,"name":"","label":"ssid mac  : ","format":"{{msg.payload}}","layout":"row-left","x":900,"y":1240,"wires":[]},{"id":"ea86df7c.99a15","type":"function","z":"5fce8c79.3b5a24","name":"IPv4","func":"msg.payload = msg.payload[2].ssid;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1300,"wires":[["3fe4aec1.c80cb2"]]},{"id":"3fe4aec1.c80cb2","type":"ui_text","z":"5fce8c79.3b5a24","group":"93b869e5.ef0e58","order":5,"width":0,"height":0,"name":"","label":"ssid 3 : ","format":"{{msg.payload}}","layout":"row-left","x":900,"y":1300,"wires":[]},{"id":"827b22ae.aff83","type":"function","z":"5fce8c79.3b5a24","name":"IPv4","func":"msg.payload = msg.payload[2].mac;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1360,"wires":[["518397d8.e70718"]]},{"id":"518397d8.e70718","type":"ui_text","z":"5fce8c79.3b5a24","group":"93b869e5.ef0e58","order":6,"width":0,"height":0,"name":"","label":"ssid mac  : ","format":"{{msg.payload}}","layout":"row-left","x":900,"y":1360,"wires":[]},{"id":"3b62c009.652cc","type":"cpu","z":"5fce8c79.3b5a24","name":"","msgCore":false,"msgOverall":false,"msgArray":false,"msgTemp":true,"x":510,"y":460,"wires":[["57f2673.6c9bd98","84dac8df.a84248"]]},{"id":"57f2673.6c9bd98","type":"ui_chart","z":"5fce8c79.3b5a24","name":"cpu  - 24 Hours","group":"93b869e5.ef0e58","order":8,"width":"0","height":"0","label":" Cpu Temperature ","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#d20005","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":2,"x":880,"y":460,"wires":[[],[]]},{"id":"f6d10a50.6e08e8","type":"rpi-gpio in","z":"af020618.d7a1a8","name":"","pin":"13","intype":"tri","debounce":"5","read":true,"x":230,"y":1040,"wires":[["ea31e713.774498","1545b46c.8c8f2c"]]},{"id":"1545b46c.8c8f2c","type":"switch","z":"af020618.d7a1a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":1020,"wires":[["e595a1a2.ccf8d"],["774fbea7.c3f29"]]},{"id":"ea31e713.774498","type":"debug","z":"af020618.d7a1a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":1280,"wires":[]},{"id":"e595a1a2.ccf8d","type":"rpi-gpio out","z":"af020618.d7a1a8","name":"","pin":"7","set":"","level":"0","freq":"","out":"out","x":870,"y":960,"wires":[]},{"id":"774fbea7.c3f29","type":"rpi-gpio out","z":"af020618.d7a1a8","name":"","pin":"7","set":true,"level":"1","freq":"","out":"out","x":900,"y":1140,"wires":[]},{"id":"84dac8df.a84248","type":"switch","z":"5fce8c79.3b5a24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":680,"y":520,"wires":[["8a39e943.b26618"]]},{"id":"8a39e943.b26618","type":"ui_toast","z":"5fce8c79.3b5a24","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"CPU teplota je nad 50 C","name":"","x":870,"y":520,"wires":[[]]},{"id":"88ead565.d78ca8","type":"function","z":"ada97b36.94e5a8","name":"D·tum","func":"msg.payload = payload[0].dt_txt;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":780,"wires":[["37a8ef14.825be"]]},{"id":"20f7aa0c.52ba36","type":"function","z":"ada97b36.94e5a8","name":"teplota","func":"msg.payload = payload[0].main.temp;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":740,"wires":[["f122ca42.6bf288"]]},{"id":"5442c460.48d15c","type":"function","z":"ada97b36.94e5a8","name":"t/min","func":"msg.payload = payload[0].main.temp_min;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":700,"wires":[["4f57783a.76c608"]]},{"id":"27ed58a7.882c18","type":"function","z":"ada97b36.94e5a8","name":"teplota/max","func":"msg.payload = payload[0].main.temp_max;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":660,"wires":[["9f5b50c7.af481"]]},{"id":"9f5b50c7.af481","type":"ui_text","z":"ada97b36.94e5a8","group":"faaba3b3.7bdfa","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":810,"y":660,"wires":[]},{"id":"4f57783a.76c608","type":"ui_text","z":"ada97b36.94e5a8","group":"35ef1f72.6a5e1","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":810,"y":700,"wires":[]},{"id":"f122ca42.6bf288","type":"ui_text","z":"ada97b36.94e5a8","group":"c9e024a8.5d24a8","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":810,"y":740,"wires":[]},{"id":"37a8ef14.825be","type":"ui_text","z":"ada97b36.94e5a8","group":"586ce489.820a0c","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":810,"y":780,"wires":[]},{"id":"f5b956ac.170d58","type":"debug","z":"ada97b36.94e5a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":60,"wires":[]},{"id":"125e52e3.4ca1ed","type":"split","z":"af020618.d7a1a8","name":"","splt":"\\n","spltType":"str","arraySplt":"2","arraySpltType":"len","stream":true,"addname":"","x":750,"y":260,"wires":[["3a163376.65d98c"]]},{"id":"3a163376.65d98c","type":"debug","z":"af020618.d7a1a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":980,"y":280,"wires":[]},{"id":"e980b35d.552f4","type":"rpi-gpio out","z":"af020618.d7a1a8","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":880,"y":580,"wires":[]},{"id":"b599973.79e6668","type":"rpi-gpio in","z":"af020618.d7a1a8","name":"","pin":"13","intype":"tri","debounce":"5","read":true,"x":250,"y":660,"wires":[["79c3f2c2.890c6c","139b0fe3.710e3"]]},{"id":"139b0fe3.710e3","type":"switch","z":"af020618.d7a1a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":640,"wires":[["e980b35d.552f4"],["57160e7b.4676c"]]},{"id":"79c3f2c2.890c6c","type":"debug","z":"af020618.d7a1a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":900,"wires":[]},{"id":"57160e7b.4676c","type":"rpi-gpio out","z":"af020618.d7a1a8","name":"","pin":"11","set":true,"level":"1","freq":"","out":"out","x":900,"y":760,"wires":[]},{"id":"fd946fd6.c1712","type":"rpi-gpio out","z":"d64f1188.c5038","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":900,"y":320,"wires":[]},{"id":"821646bc.608078","type":"function","z":"d64f1188.c5038","name":"","func":"var msg1 = { payload: \"1\" };\nreturn [msg1];","outputs":1,"noerr":0,"x":550,"y":300,"wires":[["fd946fd6.c1712"]]},{"id":"5b0b39ba.f89b28","type":"function","z":"d64f1188.c5038","name":"","func":"var msg1 = { payload: \"0\" };\nreturn [msg1];","outputs":1,"noerr":0,"x":750,"y":380,"wires":[["fd946fd6.c1712"]]},{"id":"364a7521.691fea","type":"delay","z":"d64f1188.c5038","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":380,"wires":[["5b0b39ba.f89b28"]]},{"id":"c729d615.d0cde8","type":"delay","z":"d64f1188.c5038","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":500,"wires":[["42b06e61.987c3"]]},{"id":"af9d4a04.b2b628","type":"rpi-gpio out","z":"d64f1188.c5038","name":"","pin":"7","set":"","level":"0","freq":"","out":"out","x":890,"y":440,"wires":[]},{"id":"dd408b6c.0b0588","type":"function","z":"d64f1188.c5038","name":"","func":"var msg1 = { payload: \"1\" };\nreturn [msg1];","outputs":1,"noerr":0,"x":570,"y":440,"wires":[["af9d4a04.b2b628"]]},{"id":"42b06e61.987c3","type":"function","z":"d64f1188.c5038","name":"","func":"var msg1 = { payload: \"0\" };\nreturn [msg1];","outputs":1,"noerr":0,"x":750,"y":500,"wires":[["af9d4a04.b2b628"]]},{"id":"406fffa2.aaf7","type":"delay","z":"d64f1188.c5038","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":780,"wires":[["8e52f0f2.4cee5"]]},{"id":"60815048.827d1","type":"rpi-gpio out","z":"d64f1188.c5038","name":"","pin":"7","set":"","level":"0","freq":"","out":"out","x":790,"y":720,"wires":[]},{"id":"963e7b6e.0b4b48","type":"function","z":"d64f1188.c5038","name":"","func":"var msg1 = { payload: \"1\" };\nreturn [msg1];","outputs":1,"noerr":0,"x":490,"y":700,"wires":[["60815048.827d1"]]},{"id":"8e52f0f2.4cee5","type":"function","z":"d64f1188.c5038","name":"","func":"var msg1 = { payload: \"0\" };\nreturn [msg1];","outputs":1,"noerr":0,"x":650,"y":780,"wires":[["60815048.827d1"]]},{"id":"8878b479.eeef28","type":"rpi-gpio out","z":"d64f1188.c5038","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":840,"y":1580,"wires":[]},{"id":"e434c758.eafcf8","type":"function","z":"d64f1188.c5038","name":"","func":"var msg1 = { payload: \"1\" };\nreturn [msg1];","outputs":1,"noerr":0,"x":510,"y":1580,"wires":[["8878b479.eeef28"]]},{"id":"dd997963.ccdf38","type":"function","z":"d64f1188.c5038","name":"","func":"var msg1 = { payload: \"0\" };\nreturn [msg1];","outputs":1,"noerr":0,"x":690,"y":1640,"wires":[["8878b479.eeef28"]]},{"id":"c40cdffb.7eed6","type":"delay","z":"d64f1188.c5038","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":1640,"wires":[["dd997963.ccdf38"]]},{"id":"4cd55293.652cdc","type":"serial out","z":"d64f1188.c5038","name":"","serial":"6d2e8b11.8fa344","x":580,"y":100,"wires":[]},{"id":"4036d981.a71298","type":"serial out","z":"d64f1188.c5038","name":"","serial":"6d2e8b11.8fa344","x":500,"y":620,"wires":[]},{"id":"cd346715.a38a58","type":"serial out","z":"d64f1188.c5038","name":"","serial":"6d2e8b11.8fa344","x":500,"y":1000,"wires":[]},{"id":"82747373.f3aa2","type":"serial out","z":"d64f1188.c5038","name":"","serial":"6d2e8b11.8fa344","x":520,"y":1480,"wires":[]},{"id":"d0241586.907948","type":"serial out","z":"d64f1188.c5038","name":"","serial":"6d2e8b11.8fa344","x":600,"y":220,"wires":[]},{"id":"34a22b2d.7c67c4","type":"debug","z":"d64f1188.c5038","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":160,"wires":[]},{"id":"989dc6ea.dd69c8","type":"ui_button","z":"d64f1188.c5038","name":"STOP","group":"e349d427.a29228","order":2,"width":"2","height":"2","passthru":true,"label":"","tooltip":"","color":"","bgcolor":"#ff1919","icon":"fa-4x fa-ban","payload":"B","payloadType":"str","topic":"B","x":250,"y":300,"wires":[["d0241586.907948","821646bc.608078","364a7521.691fea","dd408b6c.0b0588","c729d615.d0cde8","90be0fff.895c6"]]},{"id":"90be0fff.895c6","type":"debug","z":"d64f1188.c5038","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":540,"wires":[]},{"id":"6cde6cc8.016cc4","type":"debug","z":"d64f1188.c5038","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":860,"wires":[]},{"id":"1257b1c3.ab739e","type":"debug","z":"d64f1188.c5038","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":1060,"wires":[]},{"id":"e5597abc.3f0ae8","type":"debug","z":"d64f1188.c5038","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":1720,"wires":[]}]